<body class="container">


        <div class="header">
            <img class="right" width="50" height="50" src="/assets/options.png" alt="optionLogo">
            <p class="center">{{d.toLocaleString()}}</p>
            <img class="left" width="100" height="100" src="/assets/AmanLogo.svg.png" alt="AmanLogo">
        </div>
        <div class="main">
            <p class="top-center"> פרטי משתמש+שעת קליטה</p>
            <p class="bottom-center">סטטוס קליטה</p>
    
        </div>
        <div class="footer">
            <p class="center" type="text" >שם מנהל הכנס+מס טלפון</p>
        </div>
    </body>

