<div class="header">
                <img class="right-top" width="50" height="50" src="/assets/options.png" alt="optionLogo" (click)="validFunc()">
                <button class="btn btn-primary right-center" *ngIf="valid==true" [routerLink]="['/home']" >מסך בית</button>
                <button class="btn btn-primary right-bottom" *ngIf="valid==true"[routerLink]="['/']">מסך טעינה</button>
            <img class="left" width="100" height="100" src="/assets/AmanLogo.svg.png" alt="AmanLogo">
        </div>
        <div class="main">
            <p class="top-center"> ייצוא אקסל</p>
            <p class="center">הצגת דו"ח מהיר</p>
            <p class="bottom-center">שלח להדפסה</p>
        </div>

